[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
daphne = "*"
channels = "*"
djangorestframework = "*"
django-cors-headers = "*"
channels-redis = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
pillow = "*"
django-cleanup = "*"
django-admin-sortable = "*"
django-colorfield = "*"

[dev-packages]

[requires]
python_version = "3.10"
